.md-typeset table:not([class]) td {
    vertical-align: middle;
}

div.md-content li, div.md-content p {
    text-align: justify;
}

.md-typeset__scrollwrap {
    text-align: center;
}

.md-typeset ul {
    list-style-type: square;
}
